/.vscode
/1.c
/a.c
/a.exe
/aaaaaaaa.c
/aaaaaaaa.exe
/b.c
/b.exe
/borrar.c
/borrar.h
/c.c
/curp.c
/curpfinal_2.c
/d.c
/estado.c
/fecha.c
/finalcurp.exe
/homocalve2.c
/homoclave.c
/kince.h
/liz.c
/nombres.c
/output
/probar.c
/ultimonombre.c